In [ ]:
import pandas as pd
import numpy as np
from numerical_mapping import *
from physico_chemical import *
from CGR import *
from basic_encoding import *

In [2]:
dataset=pd.read_csv('datasets\\GUE\\splice\\reconstructed\\train.csv')
dataset.head(3)

                                            sequence  label
0  CTGGTACAGGCCCCTGCGCCATGCAGGGCGGCGGGGATGCACACCT...      1
1  ATTAACTGATGGATATATGAAAACAGTATACTGCGTGACAACACCT...      1
2  CATCAAAGTTGCTATAGAAGTGATTGAGGTTCTGCTATAAGGTTAT...      2

In [3]:
dataset.shape

(36496, 2)

In [4]:
seq=list(dataset.sequence)

In [5]:
pd.DataFrame(generate_kmer_features(seq,4))

,A,C,G,T,AA,AC,AG,AT,CA,CC,...,TTCG,TTCT,TTGA,TTGC,TTGG,TTGT,TTTA,TTTC,TTTG,TTTT
0,0.2000,0.3150,0.3225,0.1625,0.027569,0.062657,0.070175,0.040100,0.095238,0.110276,...,0.000000,0.002519,0.000000,0.002519,0.002519,0.000000,0.000000,0.002519,0.002519,0.002519
1,0.3225,0.1950,0.1650,0.3175,0.117794,0.065163,0.055138,0.082707,0.072682,0.050125,...,0.000000,0.002519,0.007557,0.002519,0.005038,0.012594,0.007557,0.007557,0.017632,0.015113
2,0.3350,0.1425,0.1525,0.3700,0.137845,0.035088,0.062657,0.097744,0.057644,0.022556,...,0.000000,0.007557,0.010076,0.005038,0.005038,0.002519,0.020151,0.010076,0.007557,0.032746
3,0.2925,0.1875,0.1950,0.3250,0.107769,0.060150,0.075188,0.050125,0.070175,0.027569,...,0.005038,0.012594,0.015113,0.002519,0.007557,0.015113,0.002519,0.010076,0.025189,0.010076
4,0.2900,0.1800,0.1750,0.3550,0.082707,0.047619,0.045113,0.115288,0.077694,0.050125,...,0.000000,0.000000,0.007557,0.002519,0.007557,0.007557,0.025189,0.007557,0.010076,0.025189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36491,0.2300,0.2175,0.2875,0.2650,0.057644,0.047619,0.075188,0.050125,0.075188,0.050125,...,0.000000,0.002519,0.007557,0.005038,0.007557,0.005038,0.002519,0.002519,0.005038,0.002519
36492,0.2025,0.3200,0.3300,0.1475,0.022556,0.055138,0.112782,0.012531,0.087719,0.125313,...,0.000000,0.002519,0.000000,0.002519,0.002519,0.000000,0.000000,0.000000,0.000000,0.000000
36493,0.2225,0.1925,0.2075,0.3775,0.077694,0.030075,0.055138,0.060150,0.060150,0.055138,...,0.002519,0.007557,0.002519,0.005038,0.007557,0.020151,0.010076,0.020151,0.017632,0.052897
36494,0.1800,0.2625,0.2775,0.2800,0.035088,0.037594,0.045113,0.062657,0.055138,0.092732,...,0.000000,0.012594,0.002519,0.005038,0.017632,0.000000,0.000000,0.000000,0.017632,0.002519
36495,0.3250,0.0975,0.2100,0.3675,0.125313,0.035088,0.077694,0.087719,0.050125,0.015038,...,0.000000,0.005038,0.002519,0.005038,0.005038,0.015113,0.017632,0.005038,0.020151,0.045340

In [6]:
pd.DataFrame(one_hot_encode_sequences(seq))

,0,1,2,3,4,5,6,7,8,9,...,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599
0,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,1
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,1,0,0,1,0,0,0,0,0,...,0,1,1,0,0,0,1,0,0,0
3,0,1,0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
4,0,1,0,0,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36491,0,1,0,0,0,0,0,1,0,1,...,0,1,0,0,0,1,0,1,0,0
36492,0,0,1,0,1,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
36493,1,0,0,0,0,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0
36494,0,0,0,1,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
36495,1,0,0,0,0,0,0,1,0,0,...,0,1,1,0,0,0,0,0,0,1

In [7]:
pd.DataFrame(zcurve_features(seq,500))

,0,1,2,3,4,5,6,7,8,9,...,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499
0,-1,-2,-1,0,-1,0,-1,0,1,2,...,0,0,0,0,0,0,0,0,0,0
1,1,0,-1,0,1,0,-1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,-1,0,-1,-2,-1,0,1,2,1,0,...,0,0,0,0,0,0,0,0,0,0
3,-1,-2,-3,-4,-5,-6,-7,-8,-9,-10,...,0,0,0,0,0,0,0,0,0,0
4,-1,0,1,2,3,2,1,2,3,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36491,-1,-2,-3,-4,-3,-2,-1,-2,-1,0,...,0,0,0,0,0,0,0,0,0,0
36492,1,2,3,4,3,2,1,2,1,2,...,0,0,0,0,0,0,0,0,0,0
36493,1,2,3,4,3,2,1,0,1,2,...,0,0,0,0,0,0,0,0,0,0
36494,-1,-2,-3,-2,-3,-4,-5,-4,-5,-6,...,0,0,0,0,0,0,0,0,0,0
36495,1,0,1,0,1,0,-1,-2,-3,-2,...,0,0,0,0,0,0,0,0,0,0

In [8]:
pd.DataFrame(integer_features(seq,500))

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,1,0,3,3,0,2,1,2,3,3,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,2,2,1,0,3,2,0,...,0,0,0,0,0,0,0,0,0,0
2,1,2,0,1,2,2,2,3,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2,2,3,3,1,0,3,2,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36491,1,0,1,1,3,2,2,0,3,2,...,0,0,0,0,0,0,0,0,0,0
36492,3,2,2,2,0,1,1,3,0,3,...,0,0,0,0,0,0,0,0,0,0
36493,2,3,2,3,1,0,0,0,3,3,...,0,0,0,0,0,0,0,0,0,0
36494,0,1,0,3,1,1,1,3,1,0,...,0,0,0,0,0,0,0,0,0,0
36495,2,0,3,0,2,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0

In [9]:
pd.DataFrame(gc_content_features(seq))

       GC_Content  G_Count  C_Count  Length
0          0.6375      129      126     400
1          0.3600       66       78     400
2          0.2950       61       57     400
3          0.3825       78       75     400
4          0.3550       70       72     400
...           ...      ...      ...     ...
36491      0.5050      115       87     400
36492      0.6500      132      128     400
36493      0.4000       83       77     400
36494      0.5400      111      105     400
36495      0.3075       84       39     400

[36496 rows x 4 columns]

In [10]:
pd.DataFrame(global_descriptor_features(seq))

,Comp_A,Comp_C,Comp_G,Comp_T,Trans_CT,Trans_TG,Trans_GG,Trans_GT,Trans_TA,Trans_AC,...,Dist_G_0,Dist_G_1,Dist_G_2,Dist_G_3,Dist_G_4,Dist_T_0,Dist_T_1,Dist_T_2,Dist_T_3,Dist_T_4
0,0.2000,0.3150,0.3225,0.1625,0.057644,0.072682,0.127820,0.045113,0.015038,0.062657,...,0.0050,0.1950,0.4700,0.7025,0.9950,0.0025,0.3125,0.5175,0.7275,0.9975
1,0.3225,0.1950,0.1650,0.3175,0.060150,0.067669,0.030075,0.052632,0.072682,0.065163,...,0.0175,0.2275,0.4950,0.7300,0.9600,0.0025,0.2900,0.5900,0.7600,0.9875
2,0.3350,0.1425,0.1525,0.3700,0.062657,0.062657,0.027569,0.050125,0.100251,0.035088,...,0.0175,0.1675,0.3325,0.5150,0.9650,0.0050,0.3175,0.5775,0.7850,0.9925
3,0.2925,0.1875,0.1950,0.3250,0.072682,0.075188,0.027569,0.070175,0.045113,0.060150,...,0.0350,0.2100,0.4650,0.7525,0.9950,0.0050,0.2325,0.4850,0.7375,0.9975
4,0.2900,0.1800,0.1750,0.3550,0.040100,0.065163,0.052632,0.052632,0.085213,0.047619,...,0.0075,0.4050,0.6225,0.8225,0.9950,0.0150,0.2225,0.4525,0.7900,0.9975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36491,0.2300,0.2175,0.2875,0.2650,0.077694,0.107769,0.092732,0.075188,0.035088,0.047619,...,0.0100,0.1775,0.4275,0.7275,0.9900,0.0025,0.2125,0.5350,0.7675,0.9950
36492,0.2025,0.3200,0.3300,0.1475,0.072682,0.075188,0.107769,0.055138,0.020050,0.055138,...,0.0000,0.2275,0.4200,0.7175,0.9875,0.0100,0.1825,0.4525,0.6725,0.9950
36493,0.2225,0.1925,0.2075,0.3775,0.057644,0.077694,0.055138,0.072682,0.052632,0.030075,...,0.0025,0.2825,0.5325,0.7525,0.9975,0.0125,0.2550,0.5225,0.6450,0.9950
36494,0.1800,0.2625,0.2775,0.2800,0.092732,0.112782,0.097744,0.057644,0.042607,0.037594,...,0.0075,0.2375,0.5000,0.7800,0.9975,0.0000,0.2650,0.5125,0.7100,0.9925
36495,0.3250,0.0975,0.2100,0.3675,0.030075,0.077694,0.052632,0.092732,0.100251,0.035088,...,0.0050,0.2700,0.5450,0.7725,0.9800,0.0025,0.2025,0.4000,0.6450,0.9975

In [11]:
pd.DataFrame(classifical_chaos_features(seq,500))

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,-0.5,-0.75,0.125,0.5625,-0.21875,0.390625,-0.304688,0.347656,0.673828,0.836914,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.5,-0.25,-0.625,0.1875,0.59375,-0.203125,-0.601562,0.199219,0.599609,-0.200195,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.5,0.25,-0.375,-0.6875,0.15625,0.578125,0.789062,0.894531,-0.052734,-0.526367,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.5,-0.75,-0.875,-0.9375,-0.96875,-0.984375,-0.992188,-0.996094,-0.998047,-0.999023,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.5,0.25,0.625,0.8125,0.90625,-0.046875,-0.523438,0.238281,0.619141,0.809570,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36491,-0.5,-0.75,-0.875,-0.9375,0.03125,0.515625,0.757812,-0.121094,0.439453,0.719727,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36492,0.5,0.75,0.875,0.9375,-0.03125,-0.515625,-0.757812,0.121094,-0.439453,0.280273,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36493,0.5,0.75,0.875,0.9375,-0.03125,-0.515625,-0.757812,-0.878906,0.060547,0.530273,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36494,-0.5,-0.75,-0.875,0.0625,-0.46875,-0.734375,-0.867188,0.066406,-0.466797,-0.733398,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36495,0.5,-0.25,0.375,-0.3125,0.34375,-0.328125,-0.664062,-0.832031,-0.916016,0.041992,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0